* {
    box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71; }

a {
    color: #1e6bb8;
    text-decoration: none; }
a:hover {
    text-decoration: underline; }

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
.btn + .btn {
    margin-left: 1rem;}

.btn:hover {
    text-decoration: none;
}

.page-header {
    color: #fff;
    text-align: center;
    margin-top: 0;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957); }

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1; }

.site-footer-owner {
    display: block;
    font-weight: bold; }

.site-footer-credits {
    color: #819198;
    vertical-align: middle;
}

.navbar-static-top {
    margin-bottom: 0;
}

.navbar {
    z-index: 9000;
}

.btn-search {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.jumbotron {
    background: white;
}

.footer-icon {
    float: right!important;
    vertical-align: middle;
}

.search-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.search-show-hide.ng-hide {
    opacity:0;
}

.search-new {
    padding: 2rem 6rem;
    margin: 0 auto;
    max-width: 62rem;
}

.search-result {
    /* max-width: 124rem; */
    padding: 2rem 6rem;
    margin: 0 6rem;
}

#mapid {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }

#detail_panel {
    width: 300px;
    height: 300px;
    background: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
}

#date_slider_panel {
    width: 300px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 300px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/** Legend for map **/
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

rzslider {
    min-width: 30rem;
}
