<!-- Sourced from https://github.com/ANU-WALD/aus-env/blob/master/app/views/details/bar.html -->

<div ng-controller="ChartController" class="chart-holder">
    <div>
        <canvas id="bar" class="chart chart-bar"
                chart-data="data" chart-labels="labels" chart-series="series" chart-options="barOptions">
        </canvas>
        <!-- chart-options="barOptions" chart-colours="barColors"

         <a class="download-link" ng-show="bar.download" ng-href="{{bar.download}}"><i class="fa fa-download"></i>&nbspGet the data</a> -->
        <!-- <span class="pull-right" ng-show="selectedRegionArea">Area: {{selectedRegionArea | number}} km<sup>2</sup></span> -->
        <!-- <div class="text-center verticaltext_content chart-vertical-position"><span ng-bind-html="bar.units"/></div> -->
    </div>
</div>
