<nav class="navbar navbar-default navbar-static-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">ANU Linked Earth Observations</a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <rzslider rz-slider-model="slider_date.value" rz-slider-options="slider_date.options"></rzslider>

                <!-- <input type="text" name="geospatialQuery" id="geospatialQuery" ng-model="geospatialQuery" ng-change="sc.getMessage()" placeholder="Enter a Geospatial query here" class="form-control">
                <select name="selectGeolocation" id="selectGeolocation" ng-model="selectGeolocation">
                    <option value="spatial:withinCircle">In circle</option>
                    <option value="spatial:nearby">Nearby</option>
                    <option value="spatial:withinBox">In Box</option>
                    <option value="spatial:intersectBox">Intersects Box</option>
                    <option value="spatial:north">North</option>
                    <option value="spatial:south">South</option>
                    <option value="spatial:east">East</option>
                    <option value="spatial:west">West</option>
                </select> -->
            </div>
            <!--<input type="submit" value="Search" class="btn btn-default" ng-click="search()">-->
        </form>
    </div><!-- /.container-fluid -->
</nav>

<div ng-class="{'search-result': sc.hasSearched, 'search-new': !sc.hasSearched}" ng-cloak="ng-cloak">

            <md-content>
                <!-- Start Date: <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker> -->
                <!-- End Date: <md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker> -->
            </md-content>

            <!-- <li ng-repeat="band in getBands()">
                <label>Band {{band.name}}:
                <input type="checkbox" ng-model="checkboxModel.band.name">
                </label>
                </li> -->

    <div class="jumbotron search-show-hide" ng-show="sc.hasSearched" style="clear:both;">
        <p>Search Result: {{sc.message}}</p>
    </div>
</div>

<div>
    <div id="mapid"></div>
</div>