<section class="page-header">
    <h1 class="project-name">ANU Linked Earth Data</h1>
    <h2 class="project-tagline"></h2>
</section>

<div ng-class="{'search-result': sc.hasSearched, 'search-new': !sc.hasSearched}" ng-cloak>
    <div class="jumbotron text-center">

        <!-- HTML for SEARCH BAR -->
        <!-- <h1>Hello {{name}}</h1>-->

        <div id="tfheader">
            <form id="tfnewsearch" method="get" action="http://www.google.com">
                <p><input type="text" ng-model="name" ng-change="sc.getMessage()" placeholder="Enter a SPARQL query here" class="form-control"></p>
            </form>

            <md-content>
                <!-- Start Date: <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker> -->
                <!-- End Date: <md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker> -->
            </md-content>

            <!-- <li ng-repeat="band in getBands()">
                <label>Band {{band.name}}:
                    <input type="checkbox" ng-model="checkboxModel.band.name">
                </label>
            </li> -->

            <input type="submit" value="Search" class="btn btn-search" ng-click="search()">
            <input type="submit" value="Advanced Search" class="btn btn-search">
        </div>
    </div>

    <div class="jumbotron search-show-hide" ng-show="sc.hasSearched" style="clear:both;">
        <p>Search Result: {{sc.message}}</p>
    </div>
</div>

<div>
    <div id="mapid"></div>
    <rzslider rz-slider-model="slider_date.value" rz-slider-options="slider_date.options"></rzslider>
</div>
