<nav class="navbar navbar-default navbar-static-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">ANU Linked Earth Observations</a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <rzslider
                    rz-slider-model="sliderDate.value"
                    rz-slider-options="sliderDate.options">
                </rzslider>
            </div>
        </form>
    </div><!-- /.container-fluid -->
</nav>

<div ng-class="{'search-result': sc.hasSearched, 'search-new': !sc.hasSearched}" ng-cloak="ng-cloak">

            <md-content>
                <!-- Start Date: <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker> -->
                <!-- End Date: <md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker> -->
            </md-content>

            <!-- <li ng-repeat="band in getBands()">
                <label>Band {{band.name}}:
                <input type="checkbox" ng-model="checkboxModel.band.name">
                </label>
                </li> -->

    <div class="jumbotron search-show-hide" ng-show="sc.hasSearched" style="clear:both;">
        <p>Search Result: {{sc.message}}</p>
    </div>
</div>

<div>
    <div id="mapid"></div>
</div>
