<nav class="navbar navbar-default navbar-static-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">ANU Linked Earth Observations</a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <rzslider
                    rz-slider-model="sliderDate.value"
                    rz-slider-options="sliderDate.options">
                </rzslider>
            </div>
        </form>
        <!-- <div ng-include="'views/charts/barchart.html'"></div> -->
    </div><!-- /.container-fluid -->
</nav>

<div ng-class="{'search-result': sc.hasSearched, 'search-new': !sc.hasSearched}" ng-cloak="ng-cloak">
    <md-content>
    </md-content>

    <div class="jumbotron search-show-hide" ng-show="sc.hasSearched" style="clear:both;">
        <p>Search Result: {{sc.message}}</p>
    </div>
</div>

<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#info" role="tab"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
            <li><a href="#chart" role="tab"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
            <li><a href="#code" role="tab"><i class="fa fa-code" aria-hidden="true"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
            <h1 class="sidebar-header">
                Project Description
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>

            <p>TODO: Replace this area with description of project</p>

        </div>

        <div class="sidebar-pane" id="info">
            <h1 class="sidebar-header">Tile Details<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <p ng-show="clickedImage == null">No tile selected</p>

            <div ng-hide="clickedImage == null">
                <a href="{{clickedImage.subject.value}}">Link</a>
                <p>Pixel: {{clickedImage.dggsLevelPixel.value}}</p>
                <p>Square: {{clickedImage.dggsLevelSquare.value}}</p>
                <p>Resolution: {{clickedImage.resolution.value}}</p>
                <p>Location: ({{clickedImage.lat}},{{clickedImage.lon}})</p>
            </div>
        </div>

        <div class="sidebar-pane" id="chart">
            <h1 class="sidebar-header">Historical Values<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <p ng-show="clickedImage == null">No tile selected</p>

            <div ng-hide="clickedImage == null">

            </div>
        </div>

        <div class="sidebar-pane" id="code">
            <h1 class="sidebar-header">Raw JSON<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <pre>{{jsonVals|json}}</pre>
        </div>

        <div class="sidebar-pane" id="settings">
            <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            <div ng-show="show_settings_error_message" class="alert alert-danger" role="alert">{{settings_error_message}}</div>

            <b>Band Selection:</b>

            <li ng-hide="bandList.length">No Bands available</li>

            <div ng-repeat="band in bandList" band-colorpicker="{{band}}">
                <input
                    type="checkbox"
                    name="selectedBands[]"
                    value="{{band.name}}"
                    ng-model="band.selected"
                > Band: {{band.name}}
                <color-picker ng-model="band.color" options="color_picker_options"></color-picker>
            </div>

            <hr>

            <!--<pre>{{selectedBands()|json}}</pre>-->

            <button class="btn btn-primary" ng-click="onSettingSave()">Save</button>
        </div>
    </div>
</div>
<canvas id="invisibleCanvas" ng-hide="true"></canvas>
<div id="mapid" center="mapCenter" controls="mapControls" layers="layers" defaults="defaults"></div>
