<nav class="navbar navbar-default navbar-static-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">ANU Linked Earth Observations</a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <rzslider
                    rz-slider-model="sliderDate.value"
                    rz-slider-options="sliderDate.options">
                </rzslider>
            </div>
        </form>
        <!-- <div ng-include="'views/charts/barchart.html'"></div> -->
    </div><!-- /.container-fluid -->
</nav>

<div ng-class="{'search-result': sc.hasSearched, 'search-new': !sc.hasSearched}" ng-cloak="ng-cloak">
    <md-content>
    </md-content>

    <div class="jumbotron search-show-hide" ng-show="sc.hasSearched" style="clear:both;">
        <p>Search Result: {{sc.message}}</p>
    </div>
</div>

<leaflet id="mapid" center="mapCenter" controls="mapControls" layers="layers" defaults="defaults" ></leaflet>

<aside id="sidebar">
    <section id="widget_1"></section>
    <section id="widget_2"></section>
    <section id="widget_3"></section>
</aside>
